.container {
  width: 100%;
  height: 100%;
}

.toast {
  min-width: 120px;
  min-height: 32px;
  padding: 0 10px;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.localCamera {
  width: 100%;
  height: 280px;
  max-height: 280px;
  text-align: center;
  position: relative;
  overflow: hidden;

  > video {
    object-fit: cover !important;
  }
}

.tools {
  padding: 10px;

  .tool {
    margin: 5px;
  }
}

.response {
  padding: 10px 20px;
  overflow: hidden;
  word-break: break-all;
}
